#link {
    font-size: 30px;
    font-weight: bold;

    color: orange !important;
    text-decoration: overline;
}

div {
    color: green;
    background-color: red;
}

.block {
    width: 300px;
    height: 300px;

    background-color: #842323;

    color: white
}

.title {
    color: green
}